"node_modules/" 
".local-chromium/" 
".wwebjs_cache/" 
".wwebjs_auth/" 
"temp_images/" 
"financas.db" 
"por.traineddata" 
"node_modules/" 
".local-chromium/" 
".wwebjs_cache/" 
".wwebjs_auth/" 
"temp_images/" 
"financas.db" 
"por.traineddata" 
node_modules/
.local-chromium/
.wwebjs_cache/
.wwebjs_auth/
temp_images/
financas.db
por.traineddata
